@use '/src/styles/constants/colors';
@use '/src/styles/mixins/responsive';

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  color: colors.$POINT;

  h1 {
    padding: 40px 0;
    font-size: 28px;
    font-weight: 500;
    line-height: 50px;
    color: colors.$POINT;
    text-align: center;

    .logo {
      margin-bottom: 10px;
    }
  }

  @include responsive.after(MD) {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;

    h1 {
      padding-left: 50px;
      text-align: left;
    }
  }
}
