// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY2: #222222;
$GRAY3: #333333;
$GRAY6: #666666;
$GRAYA: #aaaaaa;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$RED: #ff3b30;
$ORANGE: #ff9500;
$YELLOW: #ffcc00;
$GREEN: #34c759;
$TEAL: #5ac8fa;
$BLUE: #007aff;
$INDIGO: #5856d6;
$PURPLE: #af52de;
$PINK: #ff2d55;

$BIG_TITLE: #1f315b;
$TASKS_TITLE: #5e698f;
$TASK_ITEM_TITLE: #4f566f;

$POINT: #171a3b;
$BACKGROUND: #f3f3fb;
$SUB_BACKGROUND: #f4f7ff;
$SUB_TITLE: #bcbccc;
$INPUT_BORDER: #d1daef;
$SELECT: #ebedfd;
$LAVANDER: #ebebfb;
